---

---

<header class="mb-16">
  <div class="flex flex-col md:flex-row justify-between items-start gap-8">
    <div class="space-y-2">
      <h2
        class="text-3xl font-black tracking-tighter uppercase text-black dark:text-white"
      >
        Dimas Salahuddin
      </h2>
      <div class="flex gap-4 items-center text-[11px] font-bold text-slate-500">
        <span>FLUTTER DEVELOPER</span>
        <span>/</span>
        <span>FREELANCER</span>
        <span>/</span>
        <span>2+ YoE</span>
      </div>
    </div>
    <div
      class="bg-black text-white dark:bg-white dark:text-black p-4 text-[11px] max-w-xs leading-tight font-medium"
    >
      Core focus: Delivering <span class="text-accent">impactful</span> mobile experiences
      by combining efficient full-cycle development with a dedication to performance
      and intuitive design.
    </div>
  </div>
</header>
